@font-face {
    font-family: peanuts;
    src:url("./PEANUTS_.TTF");
}
.peanuts{
    font-family: peanuts;
}

body {
    background-color: #4aa;
    color:white;
    margin: 0;
    padding: 0;
        font-size: 18px;
    line-height: 150%; 
    }

h1 {
    color: #efeee7;
    background: #4aaa5;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    }

a {    
    color: #blue;
   }

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio
#contact-info,
#bio-image {float: left;
}

#contact-info {width:30%
}

#bio-image {
    margin-right: 20px;
    width: 200px;
    height: 200 px;

}

    